# Build
dist/

# Dependencies
node_modules/

# Local Env
.env
.env.test

# Prisma (Keep migrations, ignore SQLite dev DBs if used)
/prisma/*.db
/prisma/*.db-journal

# Testing
coverage/

# User Uploads (Critical based on your LocalStorageService)
uploads/
!uploads/.gitkeep