# IDEs and Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Global Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (Global)
.env
.env.local
.env.*.local

# Docker (if you use docker-compose locally)
docker-data/