# Python Compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Google Cloud Service Account Credentials
apps/backend-ai/google-credentials.json

# Type checking
.mypy_cache/
.pytest_cache/

# Vector DBs (If running local instances/volumes inside this folder)
milvus_data/
